body{
	background-image: url('bggg.jpg');
    font: 1.4em Calibri, Times New Roman, Arial, sans-serif;
	color: #FFFFFF; 
}

div.nav, footer{
	background-image: url('navfooter.jpg');
	padding-bottom: 2em;
}
  
div.nav a{
	font-weight: bold;
	color: #ccff66;
	font-size: 1.6em;
	margin-left: 7%;
}

div.nav a:hover{
	color: rgb(255, 0, 0);
}